
/* -------------------- Colors -------------------- */

$content-on-neutral-xx-high: #2c2c31;
$content-on-neutral-low: #7d7d8a;
$content-on-neutral-x-high: #595961;

$surface-x-low: #ffffff;
$surface-x-high: #8c8c9a;

$state-default-hover: #1a1a1a0f;
$state-default-focus: #1a1a1acc;

$surface-brand: #0050ff;

$surface-danger: #dc2828;
$surface-danger-variant: #ffdcdc;
$content-on-neutral-danger: #dc2828;

$surface-warning: #a56315;
$surface-warning-variant: #faf1b6;
$content-on-neutral-warning: #a56315;

/* -------------------- Fonts -------------------- */

$label-m-size: 16px;
$label-m-weight: 500;
$label-m-line-height: 22px;
$label-m-letter-spc: 0.16px;

$label-s-size: 14px;
$label-s-weight: 550;
$label-s-line-height: 17px;
$label-s-letter-spc: 0.16px;

$body-m-size: 16px;
$body-m-weight: 400;
$body-m-line-height: 22px;
$body-m-letter-spc: 0.01px;

$body-s-size: 14px;
$body-s-weight: 400;
$body-s-line-height: 19px;
$body-s-letter-spc: 0.01px;

$body-line-height: 20px;
$body-para-height: 6px;

/* -------------------- Dimensions -------------------- */

$dimension-radius-input: 12px;
$dimension-xs: 8px;
$dimension-s: 12px;
$dimension-m: 16px;
$dimension-l: 20px;
$dimension-stroke-l: 1px;